<h1>Burgers!!</h1>

{{#each burger_data}}
{{#if devoured}}
<ul class="burger" style="float: right;">
  <li>{{burger}}</li>
  <li>Is devoured {{devoured}}</li>
</ul>
{{else}}
<ul class="burger" style="float: left;">
  <li>{{burger}}</li>
  <li>Is devoured {{devoured}}</li>
</ul>
{{/if}}
{{/each}}

